<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 text-center">
      <div class="panel">
        <div class="panel-body">
          <h3>Submit Freedom Pass Application</h3>
          <p>When a new application is coming in, it should be submitted and entered onto the Tangle. To do it, please navigate to 'Freedom Pass Application'</p>
          <a href="/freedompassapplication" role="button" class="btn btn-default">Freedom Pass Application</a>
        </div>
      </div>
    </div>
    <div class="col-xs-6 text-center">
      <div class="panel">
        <div class="panel-body">
          <h3>List</h3>
          <p>When controlling if a certificate is issued by a doctor, one has to verify that a corresponding IOTA transaction exists.</p>
          <a href="/list" role="button" class="btn btn-default">List</a>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <div class="panel">
        <div class="panel-body">
          <h3>Doctors</h3>
          <p>When controlling if a certificate is issued by a doctor, one has to verify that a corresponding IOTA transaction exists.</p>
          <a href="/list" role="button" class="btn btn-default">List</a>
        </div>
      </div>
    </div>
    <!--<div class="col-sm-4">-->
      <!--<div class="panel">-->
        <!--<div class="panel-body">-->
          <!--<h3>Heading</h3>-->
          <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris-->
            <!--condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.-->
            <!--Donec sed odio dui.</p>-->
          <!--<a href="#" role="button" class="btn btn-default">View details</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
